* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    margin: 0;
}

#head-wp {
    width: 100%;
    position: fixed;
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    z-index: 3;
}

#logo{
    color: white;
    cursor: pointer;
    font-size: 1.5em;
    line-height: 45px;
    letter-spacing: 12px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 500px;
}

.list {
    color: white;
    font-size: 20px;
}

.list:not(:last-child){
    padding-right: 70px;
}

@media (max-width: 1000px){
    .navbar {
        width: 400px;
    }
}

@media (max-width: 650px){
    .navbar {
        width: 420px;
    }
}

.main-content {
    padding-top: 60px;
}

.arrow-down {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
    height: 50px;
    color: white;
    font-size: 25px;
    animation-name: arrowdirection;
    animation-duration: 3s;
    animation-iteration-count: 0;
    z-index: 1;
}

@keyframes arrowdirection {
    0% {
        padding-bottom: 50px;
    }
    50% {
        padding-bottom: 10px;
    }
    100% {
        padding-bottom: 50px;
    }
}

.about-dance {
    height: 100vh;
    background-image: url(./photo/dance/header-dance.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about-dance-text {
    color: white;
    letter-spacing: 5px;
    font-size: 35px;
}

.about-dance-p {
    color: white;
    letter-spacing: 3px;
    width: 80%;
    padding-top: 30px;
    text-align: center;
}

.main-btn {
    padding-top: 60px;
}

.btn-join {
    background-color: #ffffff00;
    border: .5px solid white;
    padding: 15px 27px;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
    margin-right: 15px;
}

.btn-quote{
    background-color: #eae2e2;
    border: .5px solid white;
    padding: 15px 27px;
    color: #443c3c;
    letter-spacing: 2px;
    font-size: 18px;
    margin-left: 15px;
}

.btn-quote:hover {
    background-color: #ffffff00;
    color: white;
}

.salsa-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #c5c5c5;
    justify-content: center;
    align-items: center;
}



.salsa-content {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
}

.salsa-section-head{
    text-align: center;
    font-size: 30px;
    letter-spacing: 10px;
    color: white;
    padding: 30px 0;
}

.salsa-img-block {
    width: 385px;
}

.salsa-img {
    width: 100%;
}

.about-salsa-content{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

@media (max-width: 1400px){
    .about-salsa-content {
        width: 50%;
    }

    .about-salsa-text {
        font-size: 0;
    }
}

@media (max-width: 999px){
    .salsa-content {
        flex-direction: column;
        align-items: center;
    }

    .about-salsa-content{
        width: 80%;
    }
}

@media (max-width: 599px){
    .salsa-img-block {
        display: none;
    }

    .about-salsa-content{
        width: 100%;
    }
}

.about-salsa {
    color: white;
    font-size: 23px;
    letter-spacing: 2px;
}

.about-salsa-text {
    text-align: justify;
    font-size: 20px;
    color: white;
}

.salsa-btn {
    background-color: #4a4444;
    border: none;
    padding: 15px 27px;
    color: white;
    letter-spacing: 2px;
    font-size: 18px;
}

.salsa-btn:hover {
    border: .5px solid black;
    background-color: #ffffff00;
}

.kiz-bachata-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 30px 0;
}

.kiz-bach-head-text {
    color: black;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
}

.kiz-bachata-blocks {
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.dance-photo {
    width: 70%;
    font-size: 30px;
    letter-spacing: 10px;
}

.section-blocks {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dance-name {
    font-size: 25px;
    letter-spacing: 15px;
    padding: 20px 0;
}

.kiz-bach-btn {
    border: .5px solid black;
    background-color: white;
    padding: 10px 30px;
    letter-spacing: 2px;
}

.kiz-bach-btn:hover {
    background-color: gray;
    color: white;
    border: .5px solid gray;
}

.footer{
    width: 100%;
    background-color: black;
    display: flex;
    padding: 40px 0;
    flex-direction: column;
    align-items: center;
}

.footer-content {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
}

.footer-list {
    padding-bottom: 10px;
}

.footer-list:hover {
    text-decoration: underline;
}

.footer-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.address-info, .phone-number {
    color: white;
    font-size: 20px;
}

.footer-list-name {
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

.social-sites {
    padding-top: 30px;
}

.link-icon:not(:last-child){
    padding-right: 20px;
}

.social-sites-icon{
    color: white;
}

.link-icon{
    font-size: 30px;
}

.legal-copyright {
    color: #afa5a5;
    letter-spacing: 1px;
    padding-top: 25px;
}

.author-name {
    color: rgb(146, 151, 124);
    letter-spacing: 2px;
    font-size: 20px;
    padding-top: 20px;
}