.quote-text {
    padding: 0 20px;
    text-align: center;
    font-size: 16px;
    font-family: cursive;
}

.input-color {
    margin: 10px;
    padding: 5px;
}

.apply-btn {
    padding: 5px 20px;
    font-size: 16px;
    letter-spacing: 5px;
    background-color: #d8813c91;
    border: 1px solid #5d4917;
}