.button-form {
    background-color: #4f9e92;
    border: none;
    padding: 5px;
    color: #fffffff2;
    font-size: large;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}

.code-body {
    max-height: 330px;
    overflow-y: scroll;
}