.button-form {
    background-color: #4f9e92;
    border: none;
    padding: 5px;
    color: #fffffff2;
    font-size: large;
    letter-spacing: 1px;
    margin: 10px;
    cursor: pointer;
}

.code-body {
    max-height: 330px;
    overflow-y: scroll;
}
 
li {
    cursor: pointer;
    position: relative;
    list-style-type: none;
}
  
.header {
    width: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ce6773;
    height: 55px;
    align-items: center;
}

#myInput {
    padding: 7px;
    border: none;
    outline: none;
}

.addBtn {
    padding: 5px 30px;
    background-color: gray;
    letter-spacing: 3px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    color: white;
    outline: none;
}

.addBtn:hover {
    box-shadow: 10px 2px 16px #403c3c;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
}
  
