body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(./assets/img/background-earth.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}